PROD_DATABASE = mongodb://localhost:27017/voltrox
DEV_DATABASE = mongodb://localhost:27017/voltrox
JWT_SECRET_KEY = voltrox_login
CLOUDINARY_NAME = dtdla1h52
CLOUDINARY_API_KEY = 283531883767291
CLOUDINARY_SECRET_KEY = K80vZZyUxZpgEAyvLKg7736ysN4
NODE_ENV = development